<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container">
    <a class="nav-link">
      <h2>Shopping Cart</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto ">

       
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="shopping">Home</a>
        </li>
        &nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link" routerLink="cart">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>

        </li>
        &nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" routerLink="card" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">View </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">signOut</a>
          </div>
        </li>

      </ul>

    </div>
  </div>
</nav>